# MCAST IICT ADAD 2024
## Assignment 2

**Author:** Lisa Mori<br/>
**Created:** 10/01/2024

## Data Acquisition

In [2]:
import requests

file_url = "https://raw.githubusercontent.com/frankieinguanez/com.mcast.adad2023/main/football_striker_score.csv"

response = requests.get(file_url)

if response.status_code == 200:
    with open("football_striker_score.csv", "wb") as f:
        f.write(response.content)
    print("File downloaded successfully.")
else:
    print(f"Failed to download file. Status Code: {response.status_code}")

File downloaded successfully.

In order to download the file, I needed to import the 'requests' library.

In [3]:
import pandas as pd

data = pd.read_csv("football_striker_score.csv")

In [4]:
data.head()

,ID,Age,Acceleration,Aggression,Agility,Balance,BallControl,Composure,Crossing,Dribbling,Finishing,Tackle,Overall
0,0,32.0,89.0,63.0,89.0,63.0,93.0,95.0,85.0,91.0,94.0,NaN,94.0
1,3,30.0,88.0,78.0,86.0,60.0,91.0,83.0,77.0,86.0,94.0,NaN,92.0
2,5,28.0,79.0,80.0,78.0,80.0,89.0,87.0,62.0,85.0,91.0,NaN,91.0
3,9,29.0,78.0,50.0,75.0,69.0,85.0,86.0,68.0,84.0,91.0,NaN,90.0
4,13,28.0,88.0,80.0,90.0,87.0,87.0,86.0,80.0,90.0,85.0,NaN,89.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3100 entries, 0 to 3099
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            3100 non-null   int64
 1   Age           3097 non-null   float64
 2   Acceleration  3097 non-null   float64
 3   Aggression    3097 non-null   float64
 4   Agility       3097 non-null   float64
 5   Balance       3097 non-null   float64
 6   BallControl   3097 non-null   float64
 7   Composure     3097 non-null   float64
 8   Crossing      3097 non-null   float64
 9   Dribbling     3097 non-null   float64
 10  Finishing     3097 non-null   float64
 11  Tackle        0 non-null      float64
 12  Overall       3097 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 315.0 KB

## Data Cleaning

In [6]:
data.isnull().sum()

ID                 0
Age                3
Acceleration       3
Aggression         3
Agility            3
Balance            3
BallControl        3
Composure          3
Crossing           3
Dribbling          3
Finishing          3
Tackle          3100
Overall            3
dtype: int64

In [7]:
data[data.isnull().any(axis=1)]

,ID,Age,Acceleration,Aggression,Agility,Balance,BallControl,Composure,Crossing,Dribbling,Finishing,Tackle,Overall
0,0,32.0,89.0,63.0,89.0,63.0,93.0,95.0,85.0,91.0,94.0,NaN,94.0
1,3,30.0,88.0,78.0,86.0,60.0,91.0,83.0,77.0,86.0,94.0,NaN,92.0
2,5,28.0,79.0,80.0,78.0,80.0,89.0,87.0,62.0,85.0,91.0,NaN,91.0
3,9,29.0,78.0,50.0,75.0,69.0,85.0,86.0,68.0,84.0,91.0,NaN,90.0
4,13,28.0,88.0,80.0,90.0,87.0,87.0,86.0,80.0,90.0,85.0,NaN,89.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,17959,18.0,69.0,52.0,54.0,72.0,45.0,47.0,34.0,43.0,47.0,NaN,47.0
3096,17969,18.0,62.0,27.0,69.0,71.0,46.0,42.0,32.0,51.0,50.0,NaN,47.0
3097,17971,18.0,51.0,33.0,51.0,69.0,44.0,44.0,28.0,47.0,59.0,NaN,47.0
3098,17978,17.0,66.0,26.0,60.0,77.0,41.0,50.0,28.0,37.0,47.0,NaN,46.0
3099,17980,18.0,48.0,52.0,49.0,47.0,32.0,33.0,19.0,23.0,20.0,NaN,46.0

In [8]:
data = data.dropna(axis=1, how='all')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3100 entries, 0 to 3099
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            3100 non-null   int64
 1   Age           3097 non-null   float64
 2   Acceleration  3097 non-null   float64
 3   Aggression    3097 non-null   float64
 4   Agility       3097 non-null   float64
 5   Balance       3097 non-null   float64
 6   BallControl   3097 non-null   float64
 7   Composure     3097 non-null   float64
 8   Crossing      3097 non-null   float64
 9   Dribbling     3097 non-null   float64
 10  Finishing     3097 non-null   float64
 11  Overall       3097 non-null   float64
dtypes: float64(11), int64(1)
memory usage: 290.8 KB

In [9]:
data = data.drop(columns="ID")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3100 entries, 0 to 3099
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           3097 non-null   float64
 1   Acceleration  3097 non-null   float64
 2   Aggression    3097 non-null   float64
 3   Agility       3097 non-null   float64
 4   Balance       3097 non-null   float64
 5   BallControl   3097 non-null   float64
 6   Composure     3097 non-null   float64
 7   Crossing      3097 non-null   float64
 8   Dribbling     3097 non-null   float64
 9   Finishing     3097 non-null   float64
 10  Overall       3097 non-null   float64
dtypes: float64(11)
memory usage: 266.5 KB

In [10]:
data[data.isnull().any(axis=1)]

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3100 entries, 0 to 3099
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           3097 non-null   float64
 1   Acceleration  3097 non-null   float64
 2   Aggression    3097 non-null   float64
 3   Agility       3097 non-null   float64
 4   Balance       3097 non-null   float64
 5   BallControl   3097 non-null   float64
 6   Composure     3097 non-null   float64
 7   Crossing      3097 non-null   float64
 8   Dribbling     3097 non-null   float64
 9   Finishing     3097 non-null   float64
 10  Overall       3097 non-null   float64
dtypes: float64(11)
memory usage: 266.5 KB

## Data Exploration

In [11]:
data.describe()

,Age,Acceleration,Aggression,Agility,Balance,BallControl,Composure,Crossing,Dribbling,Finishing,Overall
count,3097.000000,3097.000000,3097.000000,3097.000000,3097.000000,3097.000000,3097.000000,3097.000000,3097.000000,3097.000000,3097.000000
mean,24.917662,70.665160,52.485308,68.296739,65.567000,64.962222,61.029706,49.660316,64.376493,66.398127,66.292541
std,4.474952,11.489347,15.649954,11.356114,12.030892,8.452684,9.892988,13.486651,8.910280,7.689470,6.925008
min,16.000000,26.000000,18.000000,29.000000,28.000000,31.000000,30.000000,11.000000,23.000000,20.000000,46.000000
25%,21.000000,64.000000,39.000000,61.000000,59.000000,60.000000,54.000000,38.000000,59.000000,61.000000,62.000000
50%,25.000000,72.000000,53.000000,69.000000,66.000000,65.000000,61.000000,51.000000,65.000000,66.000000,66.000000
75%,28.000000,78.000000,64.000000,76.000000,74.000000,71.000000,68.000000,60.000000,71.000000,72.000000,71.000000
max,38.000000,95.000000,94.000000,95.000000,95.000000,93.000000,95.000000,85.000000,92.000000,94.000000,94.000000

Minimum Age: 16<br><br/>
Maximum Age: 38<br><br/>
Average Age: 24.9

In [17]:
data.sort_values(by='Overall', ascending=False)
data.head(10)

,Age,Acceleration,Aggression,Agility,Balance,BallControl,Composure,Crossing,Dribbling,Finishing,Overall
0,32.0,89.0,63.0,89.0,63.0,93.0,95.0,85.0,91.0,94.0,94.0
1,30.0,88.0,78.0,86.0,60.0,91.0,83.0,77.0,86.0,94.0,92.0
2,28.0,79.0,80.0,78.0,80.0,89.0,87.0,62.0,85.0,91.0,91.0
3,29.0,78.0,50.0,75.0,69.0,85.0,86.0,68.0,84.0,91.0,90.0
4,28.0,88.0,80.0,90.0,87.0,87.0,86.0,80.0,90.0,85.0,89.0
5,29.0,90.0,63.0,86.0,91.0,89.0,90.0,70.0,89.0,90.0,89.0
6,23.0,88.0,48.0,91.0,85.0,93.0,84.0,80.0,92.0,85.0,88.0
7,26.0,87.0,69.0,90.0,80.0,86.0,86.0,82.0,87.0,88.0,88.0
8,28.0,95.0,43.0,77.0,70.0,82.0,84.0,77.0,82.0,88.0,88.0
9,35.0,63.0,84.0,81.0,41.0,88.0,91.0,76.0,82.0,87.0,88.0

## Data Visualisation

## Data Modelling

## Prediction