# MCAST IICT ADAD 2024
## Assignment 2

**Author:** Lisa Mori<br/>
**Created:** 10/01/2024

## Data Acquisition

In [21]:
import requests

file_url = "https://raw.githubusercontent.com/frankieinguanez/com.mcast.adad2023/main/football_striker_score.csv"

response = requests.get(file_url)

if response.status_code == 200:
    with open("football_striker_score.csv", "wb") as f:
        f.write(response.content)
    print("File downloaded successfully.")
else:
    print(f"Failed to download file. Status Code: {response.status_code}")

File downloaded successfully.

In order to download the file, I needed to import the 'requests' library.

In [22]:
import pandas as pd

data = pd.read_csv("football_striker_score.csv")

In [23]:
data.head()

,ID,Age,Acceleration,Aggression,Agility,Balance,BallControl,Composure,Crossing,Dribbling,Finishing,Tackle,Overall
0,0,32.0,89.0,63.0,89.0,63.0,93.0,95.0,85.0,91.0,94.0,NaN,94.0
1,3,30.0,88.0,78.0,86.0,60.0,91.0,83.0,77.0,86.0,94.0,NaN,92.0
2,5,28.0,79.0,80.0,78.0,80.0,89.0,87.0,62.0,85.0,91.0,NaN,91.0
3,9,29.0,78.0,50.0,75.0,69.0,85.0,86.0,68.0,84.0,91.0,NaN,90.0
4,13,28.0,88.0,80.0,90.0,87.0,87.0,86.0,80.0,90.0,85.0,NaN,89.0

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3100 entries, 0 to 3099
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            3100 non-null   int64
 1   Age           3097 non-null   float64
 2   Acceleration  3097 non-null   float64
 3   Aggression    3097 non-null   float64
 4   Agility       3097 non-null   float64
 5   Balance       3097 non-null   float64
 6   BallControl   3097 non-null   float64
 7   Composure     3097 non-null   float64
 8   Crossing      3097 non-null   float64
 9   Dribbling     3097 non-null   float64
 10  Finishing     3097 non-null   float64
 11  Tackle        0 non-null      float64
 12  Overall       3097 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 315.0 KB

## Data Cleaning

In [25]:
data.isnull().sum()

ID                 0
Age                3
Acceleration       3
Aggression         3
Agility            3
Balance            3
BallControl        3
Composure          3
Crossing           3
Dribbling          3
Finishing          3
Tackle          3100
Overall            3
dtype: int64

In [26]:
data[data.isnull().any(axis=1)]

,ID,Age,Acceleration,Aggression,Agility,Balance,BallControl,Composure,Crossing,Dribbling,Finishing,Tackle,Overall
0,0,32.0,89.0,63.0,89.0,63.0,93.0,95.0,85.0,91.0,94.0,NaN,94.0
1,3,30.0,88.0,78.0,86.0,60.0,91.0,83.0,77.0,86.0,94.0,NaN,92.0
2,5,28.0,79.0,80.0,78.0,80.0,89.0,87.0,62.0,85.0,91.0,NaN,91.0
3,9,29.0,78.0,50.0,75.0,69.0,85.0,86.0,68.0,84.0,91.0,NaN,90.0
4,13,28.0,88.0,80.0,90.0,87.0,87.0,86.0,80.0,90.0,85.0,NaN,89.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,17959,18.0,69.0,52.0,54.0,72.0,45.0,47.0,34.0,43.0,47.0,NaN,47.0
3096,17969,18.0,62.0,27.0,69.0,71.0,46.0,42.0,32.0,51.0,50.0,NaN,47.0
3097,17971,18.0,51.0,33.0,51.0,69.0,44.0,44.0,28.0,47.0,59.0,NaN,47.0
3098,17978,17.0,66.0,26.0,60.0,77.0,41.0,50.0,28.0,37.0,47.0,NaN,46.0
3099,17980,18.0,48.0,52.0,49.0,47.0,32.0,33.0,19.0,23.0,20.0,NaN,46.0

In [27]:
data = data.dropna(axis=0, how='any')
data.isnull().sum()

ID              0.0
Age             0.0
Acceleration    0.0
Aggression      0.0
Agility         0.0
Balance         0.0
BallControl     0.0
Composure       0.0
Crossing        0.0
Dribbling       0.0
Finishing       0.0
Tackle          0.0
Overall         0.0
dtype: float64

In [28]:
data = data.drop(columns="ID")

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           0 non-null      float64
 1   Acceleration  0 non-null      float64
 2   Aggression    0 non-null      float64
 3   Agility       0 non-null      float64
 4   Balance       0 non-null      float64
 5   BallControl   0 non-null      float64
 6   Composure     0 non-null      float64
 7   Crossing      0 non-null      float64
 8   Dribbling     0 non-null      float64
 9   Finishing     0 non-null      float64
 10  Tackle        0 non-null      float64
 11  Overall       0 non-null      float64
dtypes: float64(12)
memory usage: 0.0 bytes

In [29]:
data[data.isnull().any(axis=1)]

Empty DataFrame
Columns: [Age, Acceleration, Aggression, Agility, Balance, BallControl, Composure, Crossing, Dribbling, Finishing, Tackle, Overall]
Index: []

## Data Exploration

## Data Visualisation

## Data Modelling

## Prediction